{% set paragraphs = data.paragraphs %}

{% if paragraphs is not empty %}

    {% for paragraph in paragraphs %}

        {% set title = paragraph.content_title.value %}
        {% set body = paragraph.content_text.value %}
        {% set image = {
            uri: paragraph.content_image.entity.uri.value|default(''),
            alt: paragraph.content_image.alt|default(title),
            style: 'image_webp'
        } %}

        <fieldset>
            <strong>TITLE:</strong> {{title}}
            <br>
            <strong>BODY:</strong> {{body|raw}}
            <br>
            {{ drupal_image(image.uri, image.style, {alt: image.alt}, true) }}
        </fieldset>
        
    {% endfor %}

{% endif %}
