{# Node com todos os dados da receita #}
{% set recipe = elements['#node'] %}

{# campos da receita para usar #}
{% set title = recipe.title.value %}
{% set image = {
    uri: recipe.recipe_image.entity.uri.value|default(''),
    alt: recipe.recipe_image.alt|default(title),
    style: 'image_webp'
} %}
{% set class_name = recipe.recipe_class.entity.name.value %}
{% set duration = recipe.recipe_duration_minutes.value %}
{% set servings = recipe.recipe_servings.value %}
{% set link = recipe.recipe_link.value %}

<fieldset>
    <h1>{{title}}</h1>
    <br>
    <strong>Categoria:</strong> {{class_name}}
    <br>
    <strong>Duração:</strong> {{duration}} min
    <br>
    <strong>Porções:</strong> {{servings}}
    <br>
    <strong>Link:</strong> <a href="{{link}}" target="_blank">clique aqui</a>
    <br>
    {{ drupal_image(image.uri, image.style, {alt: image.alt}) }}
</fieldset>