{% set contacts = data.contacts %}
{% set addresses = data.addresses %}
{% set chat = data.chat %}
{% set emails = data.emails %}
{% set phones = data.phones %}
{% set sms = data.sms %}

{% if phones is not empty %}

    <h1>Telefones</h1>

    {% for phone in phones %}

        {% set title = phone.content_title.value %}
        {% set body = phone.content_text.value %}

        <fieldset>
            {% if title is not empty %}
                <strong>TITLE:</strong> {{title}}
            {% endif %}

            {% if title is not empty and body is not empty %}
                <br>
            {% endif %}

            {% if body is not empty %}
                <strong>BODY:</strong> {{body|raw}}
            {% endif %}
        </fieldset>
        
    {% endfor %}

{% endif %}

{% if addresses is not empty %}

    <h1>Endereços</h1>

    {% for address in addresses %}

        {% set title = address.content_title.value %}
        {% set body = address.content_text.value %}

        <fieldset>
            {% if title is not empty %}
                <strong>TITLE:</strong> {{title}}
            {% endif %}

            {% if title is not empty and body is not empty %}
                <br>
            {% endif %}

            {% if body is not empty %}
                <strong>BODY:</strong> {{body|raw}}
            {% endif %}
        </fieldset>
        
    {% endfor %}

{% endif %}

{% if emails is not empty %}

    <h1>E-mail</h1>

    {% for email in emails %}

        {% set title = email.content_title.value %}
        {% set body = email.content_text.value %}

        <fieldset>
            {% if title is not empty %}
                <strong>TITLE:</strong> {{title}}
            {% endif %}

            {% if title is not empty and body is not empty %}
                <br>
            {% endif %}

            {% if body is not empty %}
                <strong>BODY:</strong> {{body|raw}}
            {% endif %}
        </fieldset>
        
    {% endfor %}

{% endif %}

{% if sms is not empty %}

    <h1>SMS</h1>

    {% for sms_content in sms %}

        {% set title = sms_content.content_title.value %}
        {% set body = sms_content.content_text.value %}

        <fieldset>
            {% if title is not empty %}
                <strong>TITLE:</strong> {{title}}
            {% endif %}

            {% if title is not empty and body is not empty %}
                <br>
            {% endif %}

            {% if body is not empty %}
                <strong>BODY:</strong> {{body|raw}}
            {% endif %}
        </fieldset>
        
    {% endfor %}

{% endif %}

{% if chat is not empty %}

    <h1>Chat</h1>

    {% for chat_content in chat %}

        {% set title = chat_content.content_title.value %}
        {% set body = chat_content.content_text.value %}

        <fieldset>
            {% if title is not empty %}
                <strong>TITLE:</strong> {{title}}
            {% endif %}

            {% if title is not empty and body is not empty %}
                <br>
            {% endif %}

            {% if body is not empty %}
                <strong>BODY:</strong> {{body|raw}}
            {% endif %}
        </fieldset>
        
    {% endfor %}

{% endif %}