{# PRODUCT #}
{% set product = data.product %}
{% set name = product.getTitle %}
{% set image = {
    uri: product.getImage.uri.value|default(''),
    alt: product.image.alt|default(name),
    style: 'product'
} %}
{% set class_name = product.getClassName %}
{% set class_path = '#' ~ product.getClassPathAlias %}
{% set about = product.getAbout %}
{% set components = product.getComponents %}
{% set preservation = product.getPreservation %}
{% set nutritional = product.getNutritional %}
{% set lett_id = product.getLettId %}

{# BREADCRUMB #}
<fieldset>
    <a href="{{ url('<front>') }}">Home</a>
    >>
    <a href="{{ path('nescau_product.list_products') ~ class_path }}">{{ class_name }}</a>
    >>
    {{ name }}
</fieldset>

{# DATA #}
<fieldset>
    <strong>NOME: </strong>{{ name }}
    <br>
    <strong>CATEGORIA: </strong>{{ class_name }}
    <br>
    <strong>SOBRE: </strong>
    <br>
    {{ about|raw }}
    <br>
    <strong>INGREDIENTES: </strong>
    <br>
    {{ components|raw }}
    <br>
    <strong>CONSERVAÇÃO: </strong>
    <br>
    {{ preservation|raw }}
    <br>
    <strong>INFORMAÇÕES NUTRICIONAIS: </strong>
    <br>
    {{ nutritional|raw }}
    <br>
    <strong>LETT ID: </strong>{{ lett_id }}
    <br>
    {{ drupal_image(image.uri, image.style, {alt: image.alt}, true) }}
</fieldset>