<!-- VARIABLES -->
{% set product = elements['#nescau_product'] %}
{% set image = {
    uri: product.getImage.uri.value|default(''),
    alt: product.image.alt|default(name),
    style: 'product_preview'
} %}
{% set name = product.getTitle %}
{% set class_name = product.getClassName %}
{% set class_path = '#' ~ product.getClassPathAlias %}
{% set about = product.getAbout %}
{% set components = product.getComponents %}
{% set preservation = product.getPreservation %}
{% set nutritional = product.getNutritional %}
{% set lett_id = product.getLettId %}

<!-- Product DATA -->
<fieldset>
<strong>NOME: </strong>{{name}}
<br>
<strong>CATEGORIA: </strong>{{class_name}}
<br>
{{ drupal_image(image.uri, image.style, {alt: image.alt}, true) }}
</fieldset>