{# PRODUCT #}
{% set product = data.product %}
{% set name = product.getTitle %}
{% set image = {
    uri: product.image.entity.uri.value|default(''),
    alt: product.image.alt|default(name),
    style: 'product'
} %}
{% set class_name = product.getClassName %}
{% set class_path = '#' ~ product.getClassPathAlias %}
{% set about = product.getAbout %}
{% set components = product.getComponents %}
{% set preservation = product.getPreservation %}
{% set nutritional = product.getNutritional %}
{% set lett_id = product.getLettId %}
{% set content_howismade = product.contentHowismade %}
{% set content_howtoprepare = product.contentHowtoprepare %}
{% set content_nutrient_img = {
    uri: product.paragraph_nutri_image.entity.uri.value|default(''),
    alt: product.paragraph_nutri_image.alt|default(name),
    style: 'product_silhouette'
} %}
{% set content_nutrient = product.paragraph_nutri %}
{% set content_meal = product.paragraph_meal %}

{# BREADCRUMB #}
<fieldset>
    <a href="{{ url('<front>') }}">Home</a>
    >>
    <a href="{{ path('nescau_product.list_products') ~ class_path }}">{{ class_name }}</a>
    >>
    {{ name }}
</fieldset>

{# DATA #}
<fieldset>
    <strong>NOME: </strong>{{ name }}
    <br>
    <strong>CATEGORIA: </strong>{{ class_name }}
    <br>
    <strong>SOBRE: </strong>
    <br>
    {{ about|raw }}
    <br>
    <strong>INGREDIENTES: </strong>
    <br>
    {{ components|raw }}
    <br>
    <strong>CONSERVAÇÃO: </strong>
    <br>
    {{ preservation|raw }}
    <br>
    <strong>INFORMAÇÕES NUTRICIONAIS: </strong>
    <br>
    {{ nutritional|raw }}
    <br>
    <strong>LETT ID: </strong>{{ lett_id }}
    <br>
    {{ drupal_image(image.uri, image.style, {alt: image.alt}, true)}}
</fieldset>

{# CONTENT GRAPHIC INFO NUTRIENTS #}

{% if content_nutrient is not empty %}

    <h1>Vitaminas e nutrientes no {{ name }}</h1>

    {{ drupal_image(content_nutrient_img.uri, content_nutrient_img.style, {alt: content_nutrient_img.alt}, true)}}

    {# SETTING MAIN VALUES #}
    {% set nutrient_percent_total = 0 %}
    {% for nutrient in content_nutrient %}
        {% set nutrient_percent_total = nutrient_percent_total + nutrient.entity.content_percent.value %}
    {% endfor %}
    {% set nutrient_percent_empty = 100 - nutrient_percent_total %}
    {% set nutrient_percent_empty_format = nutrient_percent_empty|number_format(2, ',') %}
    {% set nutrient_percent_total_format = nutrient_percent_total|number_format(2, ',') %}

    <fieldset>
        <strong>PERCENTUAL TOTAL:</strong> {{ nutrient_percent_total }}
        <br>
        <strong>PERCENTUAL TOTAL FORMATADO:</strong> {{ nutrient_percent_total_format }}
        <br>
        <strong>PERCENTUAL VAZIO:</strong> {{ nutrient_percent_empty }}
        <br>
        <strong>PERCENTUAL VAZIO FORMATADO:</strong> {{ nutrient_percent_empty_format }}
    </fieldset>
    {# LOOP ALL VALUES #}
    {% for content in content_nutrient %}

        {% set nutrient = content.entity %}
        {% set nutrient_title = nutrient.content_title.value %}
        {% set nutrient_body = nutrient.content_text.value %}
        {% set nutrient_percent = nutrient.content_percent.value %}
        {% set nutrient_percent_format = nutrient_percent|number_format(2, ',') %}
        {% set nutrient_perc_desc = nutrient.content_text_simple.value %}

        <fieldset>
            <strong>TÍTULO:</strong> {{ nutrient_title }}
            <br>
            <strong>DESCRIÇÃO:</strong> {{ nutrient_body|raw }}
            <br>
            <strong>PERCENTUAL:</strong> {{ nutrient_percent }}
            <br>
            <strong>PERCENTUAL FORMATADO:</strong> {{ nutrient_percent_format }}
            <br>
            <strong>DESCRIÇÃO DA CAIXA DO PERCENTUAL:</strong> {{ nutrient_perc_desc }}
        </fieldset>
        
    {% endfor %}

{% endif %}

<!-- CONTENT MEAL INFO NUTRIENTS -->
{% if content_meal is not empty %}

    {% set content_meal_title =  name ~ 'nas Refeições' %}

    <h1>{{ content_meal_title }}</h1>

    {% for content in content_meal %}

        {% set paragraph = content.entity %}
        {% set content_img = {
            uri: paragraph.content_image.entity.uri.value|default(''),
            alt: paragraph.content_image.alt|default(content_meal_title),
            style: 'product_info_meal'
        } %}
        {% set add_nescau = paragraph.add_nescau %}

        <fieldset>
            <strong>Adicione {{ name }} na refeição:</strong> {{ add_nescau ? 'TRUE' : 'FALSE' }}
            <br>
            <strong>TÍTULO:</strong> {{ paragraph.content_title.value }}
            <br>
            <strong>DESCRIÇÃO:</strong> {{ paragraph.content_text.value|raw }}
            <br>
            {{ drupal_image(content_img.uri, content_img.style, {alt: content_img.alt}, true)}}
            <br>

        {% if paragraph.nutrients is not empty %}

            {% for paragraph_nutrient in paragraph.nutrients %}

                {% set nutrient = paragraph_nutrient.entity %}
                {% set title = nutrient.content_title.value %}
                {% set unit = nutrient.content_val_unit.value %}
                {% set value_meal = nutrient.content_decimal.value %}
                {% set value_meal_format = value_meal|number_format(2, ',') %}
                {% set value_nescau = nutrient.content_decimal_nescau.value %}
                {% set value_nescau_format = value_nescau|number_format(2, ',') %}
                {% set value_total = value_meal + value_nescau %}
                {% set value_total_format = value_total|number_format(2, ',') %}

                <fieldset>
                    <strong>TÍTULO:</strong> {{ title }}
                    <br>
                    <strong>UNIDADE:</strong> {{ unit }}
                    <br>
                    <strong>VALOR REFEIÇÃO:</strong> {{ value_meal }}
                    <br>
                    <strong>VALOR REFEIÇÃO FORMATADO:</strong> {{ value_meal_format }}
                    <br>
                    <strong>VALOR NESCAU:</strong> {{ value_nescau }}
                    <br>
                    <strong>VALOR NESCAU FORMATADO:</strong> {{ value_nescau_format }}
                    <br>
                    <strong>VALOR TOTAL:</strong> {{ value_total }}
                    <br>
                    <strong>VALOR TOTAL FORMATADO:</strong> {{ value_total_format }}
                </fieldset>

            {% endfor %}

        {% endif %}

        </fieldset>

    {% endfor %}

{% endif %}

<!-- CONTENT HOW TO PREPARE -->

{% if content_howtoprepare is not empty %}

    {% set howtoprepare_title = content_howtoprepare.title.value %}
    {% set howtoprepare_paragraphs = content_howtoprepare.nescau_paragraph %}

    <h1>{{howtoprepare_title}}</h1>

    {% for howtoprepare_paragraph in howtoprepare_paragraphs %}

        {% set howtoprepare_paragraph_text = howtoprepare_paragraph.entity.content_text.value %}
        {% set howtoprepare_paragraph_img = {
            uri: howtoprepare_paragraph.entity.content_image.entity.uri.value|default(''),
            alt: howtoprepare_paragraph.entity.content_image.alt|default(howtoprepare_title),
            style: 'product_howtoprepare'
        } %}

    <fieldset>
        {{ howtoprepare_paragraph_text|raw }}
        <br>
        {{ drupal_image(howtoprepare_paragraph_img.uri, howtoprepare_paragraph_img.style, {alt: howtoprepare_paragraph_img.alt}, true)}}
    </fieldset>
        
    {% endfor %}

{% endif %}

<!-- RECIPES BY CLASS -->

{% if data.recipes is not empty %}

    <h1>Faça Receitas com NESCAU® {{ class_name }}</h1>

    {% for recipe in data.recipes %}

        {% set recipe_id = recipe.id %}
        {% set recipe_title = recipe.title.value %}
        {% set recipe_image = {
            uri: recipe.recipe_image.entity.uri.value|default(''),
            alt: recipe.recipe_image.alt|default(recipe_title),
            style: 'recipe_carousel'
        } %}
        {% set recipe_duration = recipe.recipe_duration_minutes.value %}
        {% set recipe_servings = recipe.recipe_servings.value %}
        {% set recipe_link = recipe.recipe_link.value %}

        <fieldset>
            <h2>{{ recipe_title }}</h2>
            <a href="{{ recipe_link }}" target="_blank">VER</a>
            <br>
            <strong>DURAÇÃO: </strong>{{ recipe_duration }} min
            <br>
            <strong>PORÇÕES: </strong>{{ recipe_servings }}
            <br>
            {{ drupal_image(recipe_image.uri, recipe_image.style, {alt: recipe_image.alt}, true)}}
        </fieldset>
        
    {% endfor %}

{% endif %}

<!-- CONTENT HOW IS MADE -->

{% if content_howismade is not empty %}

    {% set howismade_title = content_howismade.title.value %}
    {% set howismade_paragraphs = content_howismade.nescau_paragraph %}

    <h1>{{ howismade_title }}</h1>

    {% for howismade_paragraph in howismade_paragraphs %}

        {% set howismade_paragraph_text = howismade_paragraph.entity.content_text.value %}
        {% set howismade_paragraph_img = {
            uri: howismade_paragraph.entity.content_image.entity.uri.value|default(''),
            alt: howismade_paragraph.entity.content_image.alt|default(howismade_title),
            style: 'product_howismade'
        } %}

    <fieldset>
        {{ howismade_paragraph_text|raw }}
        <br>
        {{ drupal_image(howismade_paragraph_img.uri, howismade_paragraph_img.style, {alt: howismade_paragraph_img.alt}, true)}}
    </fieldset>
        
    {% endfor %}

{% endif %}


<!-- PRODUCTS BY CLASS -->

{% if data.products_class is not empty %}

    <h1>Mais Produtos da Categoria</h1>

    {% for product_class in data.products_class %}

        {% set pc_id = product_class.id.value %}
        {% set pc_name = product_class.getTitle %}
        {% set pc_class = product_class.getClassName %}
        {% set pc_image = {
            uri: product_class.getImage.uri.value|default(''),
            alt: product_class.image.alt|default(pc_name),
            style: 'product_carousel'
        } %}

        <fieldset>
            <strong>NOME: </strong>{{ pc_name }}
            <br>
            <a href="{{ path('entity.nescau_product.canonical', {'nescau_product': pc_id}) }}">VER</a>
            <br>
            <strong>CATEGORIA: </strong>{{ pc_class }}
            <br>
            {{ drupal_image(pc_image.uri, pc_image.style, {alt: pc_image.alt}, true)}}
        </fieldset>
        
    {% endfor %}
{% endif %}