{% set items = data.list %}

{% for item in items %}

    {% set class = item.class %}
    {% set class_path = item.class_path %}
    {% set class_name = class.getName %}

    <div id="{{ class_path }}">
        <fieldset>
            <h1>CATEGORIA: {{class_name}}</h1>

            {% if item.products is not empty %}

                {% for product in item.products %}

                    {% set product_id = product.id.value %}
                    {% set product_name = product.getTitle %}
                    {% set product_lett_id = product.getLettId %}
                    {% set product_image = {
                        uri: product.getImage.uri.value|default(''),
                        alt: product.image.alt|default(name),
                        style: 'product_page_class'
                    } %}

                    <fieldset>
                        <h1>PRODUTO: {{product_name}}</h1>
                        <br>
                        <strong>LINK:</strong> <a href="{{ path('entity.nescau_product.canonical', {'nescau_product': product_id}) }}">VER</a>
                        <br>
                        <strong>ID:</strong> {{product_id}}
                        <br>
                        <strong>LETT ID:</strong> {{product_lett_id}}
                        <br>
                        <strong>IMAGE</strong>
                        <br>
                        {{ drupal_image(product_image.uri, product_image.style, {alt: product_image.alt}, true) }}
                    </fieldset>
                    
                {% endfor %}

            {% endif %}

        </fieldset>
    </div>
    
{% endfor %}