{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set classes = page.classes %}

{#
VAR classes (categorias)
- classes.em_po
- classes.para_beber
- classes.cereal
- classes.outros_produtos

classes é um array e seus índices possuem o mesmo valor da url amigável de cada categoria,
mas sempre trocando o '-' por '_'
#}

<h1>Teste</h1>

  <header class="content-header clearfix">
    <div class="layout-container">
      {{ page.breadcrumb }}
      {{ page.header }}
    </div>
  </header>

  <div class="layout-container">
    {{ page.pre_content }}
    <main class="page-content clearfix" role="main">
      <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
      {{ page.highlighted }}

      {# CATEGORIAS #}

      {% if classes is not empty %}

        {% set class_path = path('nescau_product.list_products') %}
        {% set image_style = 'image_webp' %}

        <fieldset>
          <h3>{{ classes.em_po.name.value }}</h3>
          <br>
          {{ classes.em_po.description.value|raw }}
          <br>
          {% set default_class_text = 'Categoria: Em Pó' %}
          {{ drupal_image(classes.em_po.class_image.entity.uri.value|default(''), image_style, {alt: classes.em_po.class_image.alt|default(default_class_text)}) }}
          <br>
          <a href="{{ class_path ~ classes.em_po.class_anchor.value|default('') }}">VER PRODUTOS</a>
        </fieldset>

        <fieldset>
          <h3>{{ classes.para_beber.name.value }}</h3>
          <br>
          {{ classes.para_beber.description.value|raw }}
          <br>
          {% set default_class_text = 'Categoria: Para Beber' %}
          {{ drupal_image(classes.para_beber.class_image.entity.uri.value|default(''), image_style, {alt: classes.para_beber.class_image.alt|default(default_class_text)}) }}
          <br>
          <a href="{{ class_path ~ classes.para_beber.class_anchor.value|default('') }}">VER PRODUTOS</a>
        </fieldset>

        <fieldset>
          <h3>{{ classes.cereal.name.value }}</h3>
          <br>
          {{ classes.cereal.description.value|raw }}
          <br>
          <br>
          {% set default_class_text = 'Categoria: Cereal' %}
          {{ drupal_image(classes.cereal.class_image.entity.uri.value|default(''), image_style, {alt: classes.cereal.class_image.alt|default(default_class_text)}) }}
          <br>
          <a href="{{ class_path ~ classes.cereal.class_anchor.value|default('') }}">VER PRODUTOS</a>
        </fieldset>

        <fieldset>
          <h3>{{ classes.outros_produtos.name.value }}</h3>
          <br>
          {{ classes.outros_produtos.description.value|raw }}
          <br>
          <br>
          {% set default_class_text = 'Categoria: Outros Produtos' %}
          {{ drupal_image(classes.outros_produtos.class_image.entity.uri.value|default(''), image_style, {alt: classes.outros_produtos.class_image.alt|default(default_class_text)}) }}
          <br>
          <a href="{{ class_path ~ classes.outros_produtos.class_anchor.value|default('') }}">VER PRODUTOS</a>
        </fieldset>

      {% endif %}

      {% if page.help %}
        <div class="help">
          {{ page.help }}
        </div>
      {% endif %}
      {{ page.content }}
    </main>

  </div>
