{% set banners = data.banners %}

{% if banners is not empty %}

    <h1>BANNERS</h1>

    {% for banner in banners %}

        {% set title = banner.title.value %}
        {% set body = banner.content_body.value %}
        {% set image = {
            uri: banner.content_image.entity.uri.value|default(''),
            alt: banner.content_image.alt|default(title),
            style: 'banner_main'
        } %}
        {% set link = banner.content_link.value %}
        {% set calltoaction = banner.content_calltoaction.value %}

        <fieldset>
            <strong>Title:</strong> {{title}}
            <br>
            <strong>Body:</strong> {{body|raw}}
            <br>
            <strong>link: </strong><a href="{{link}}" target="_blank">clique aqui</a>
            <br>
            <strong>CallToAction:</strong> {{calltoaction}}
            <br>
            {{ drupal_image(image.uri, image.style, {alt: image.alt}, true) }}
        </fieldset>
        
    {% endfor %}

{% endif %}
